<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1,
        h2 {
            text-align: center;
        }

        li {
            margin: 10px;
        }

        div {
            border: 2px black solid;
            margin: 10px;
            border-radius: 20px;
        }
    </style>
</head>

<body>
    <h1>Bienvenido al feed de inicio</h1>
    <div>
        <h2>Ayuda para docentes</h2>
        <ol>
            <li>Explicar sencillamente las cosas, aunque se requiera de cierto lenguaje tecnico, a veces es mejor ir a
                lo conocido para que el estudiante pueda comprender.</li>
            <li>Mantener el respeto, pese a ser una relacion en la que el docente tiene mayor autoridad, mantener el
                respeto como personas sigue siendo importante para el intercambio de palabras y el comportamiento en el
                aula, por lo que se deberia tratar de evitar situaciones en las que se le falte el respeto al alumno o
                entre los alumnos.</li>
            <li>Hacer devoluciones, para que los estudiantes sepan en que pueden mejorar y que hicieron bien.</li>
            <li>Utilizar memotecnicas, canciones, rimas, etc para que el estudiante pueda recordar facilmente el
                contenido visto y así aprenderlo.</li>
            <li>Realizar una pausa, puede ayudar a que los estudiantes no se abrumen y el cerebro no se olvide
                facilmente los contenidos.</li>

        </ol>
    </div>
    <div>
        <h2>Ayuda para padres</h2>
        <ol>
            <li>Asista a las conferencias de padres y maestros, y manténgase en contacto durante el año escolar.</li>
            <li>Pregunte y interecese por el dia a día de su hijo/a en la escuela(pero tratando de no ser tan invasivo y
                respetando las emociones que el niño/a sintio)</li>
            <li>Informarle a la escuela lo que le preocupa acerca de la educacion,comportamiento o salud de su hijo/a
            </li>
            <li>Aliente a su niño a ser responsable y trabajar independientemente, dejarle tareas o enseñarle cosas que
                puede hacer(como cocinar, limpiar o viajar solo)puede ayudar al desarrollo y autooestima de su hijo/a
            </li>
            <li>Solicite servicios especiales si cree que su hijo los necesita. Como una maestra particular u otras
                actividades para que su hijo/a pueda ir comprendiendo la materia.</li>
            <li>Supervise el uso de la televisión, los juegos electrónicos y el Internet.</li>
            <li>Fomente la sociabilizacion de su hija/o, para que así en caso de realizar tareas grupales pueda
                desenvolverse y interactuar con más facilidad.</li>
        </ol>
    </div>
</body>

</html>