<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <style>
        form {
            display: block;
            text-align: center;
        }

        input {
            display: block;
            border-color: black;
            border-width: 2px;
            border-radius: 10px;
            height: 25px;
            width: 80%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        button {
            background-color: blueviolet;
            color: white;
            border: none;
            height: 50px;
            width: 80px;
            border-radius: 25px;

        }
    </style>
</head>

<body>
    <form action="/feed" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <br>

        <button type="submit">Send</button>
    </form>
</body>

</html>